@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #1F2937;
    --secondary-color: #FF8800;
    --btn-color: #635BA9;
    --font-family: 'Arial', sans-serif;
    --base-spacing: 16px;
  }

  @layer base {
  
    .light {
      background-color: #ffffff;
      color: #333;
    }
  
    .dark {
      background-color: #333;
      color: #ffffff;
    }
  }