@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #1F2937;
    --secondary-color: #FF8800;
    --btn-color: #635BA9;
    --font-family: 'Arial', sans-serif;
    --base-spacing: 16px;
  }

@font-face{
  font-family: font1;
  src: url(./assets/ff.woff);
}
@font-face{
  font-family: font2;
  src: url(./assets/ff.woff2);
}


  @layer base {
  
    .light {
      background-color: #ffffff;
      color: #333;
    }
  
    .dark {
      background-color: #1F2937;
      color: #ffffff;
    }
  }